body{
    background-color: #1a1c2c;
}


#grid { 
    display: grid;
    margin-top: 30px;
    grid-template-columns: 700px;
    grid-template-rows: 200px 70px 64px  56px 70px;
    grid-row-gap: 25px;
    justify-content: center;
     
    }

  .logo-sputnik-red, .descpription, .continue-icon {
    margin: 0 auto;
  }

  .logo-sputnik-red>img{
    height:200px ;
    width:200px ;
    }
  
  .descpription{
    height: 67px;
    width: 550px;
    word-wrap: break-word;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    /* margin: 0 auto 0px; */
   
  }

  .about-sputnik-red{
     /* margin-bottom: 40px;  */
  }
  .continue-icon{
   
    height: 64px;
    width: 64px;
    /* margin: 0 auto; */
  }


  .cookies, a{
      color:#5E5E5E;
  }
  .responsive{
    display: none;
  }