body{
    background-color: #1a1c2c;
    margin: 0;
}


#start-page { 
    display: grid;
    margin-top: 30px;
    grid-template-columns: 700px;
    grid-template-rows: 200px 70px 64px  56px 70px;
    grid-row-gap: 25px;
    justify-content: center;
     
    }

  .logo-sputnik-red, .descpription, .continue-icon {
    margin: 0 auto;
  }

  .logo-sputnik-red>img{
    height:200px ;
    width:200px ;
    }
  
  .descpription{
    height: 67px;
    width: 550px;
    word-wrap: break-word;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    /* margin: 0 auto 0px; */
   
  }

  .continue-icon{
   
    height: 64px;
    width: 64px;
    /* margin: 0 auto; */
  }


  .cookies, a{
      color:#5E5E5E;
  }
 
  
  #main-page{

    display: none;
    grid-template-areas:
        "nav tab"
        "nav about"
        "nav more"
        "nav img";
    grid-template-rows :  repeat(4, 1fr);
    grid-template-columns: 260px 1fr;
    grid-gap: 0;
    height: 100vh;

  }

  .navigation, .tab, .about, .more, .main-page-img {
    padding: 0;
  }
  .navigation{
    background-color: #C4C4C4;
    grid-area: nav;
  }

  .tab{
    grid-area: tab;
  }

  .about{
    grid-area: about;
  }

  .more{
    grid-area: more;
  }
  .main-page-img{
    grid-area: img;
  }

 #menu{
   display: grid;
   width: 200px;
   grid-template-rows :  repeat(4, 1fr);
   grid-template-columns: 1fr;
   height: 100vh;
  margin: 0 auto;
   grid-gap: 10px;
   
 }

.slidebar>ul{
  
 font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
list-style-type:none;
list-style-image: url(/img/unchecked_list.png);
}

ul>li{
  margin-bottom: 6px;
  
}